.rackcabinet {
  width: 90%;
  background-color: grey;
  margin: 0 auto;
  margin-top:15px;
  padding:0 2px 0 2px;
  display:flex;
  justify-content:center;
  border-radius:10px;
}
.rack {
  display:flex;
  justify-content:center;
  width:96%;
  flex-wrap:wrap;
}
.drumrack {
  width: 100%;
  margin: 10px 6px;
  padding:4px 2px 4px 2px;
  border-radius: 9px;
  display: flex;
  position:relative;
  justify-content: center;
  flex-wrap:wrap;
  background-color: #fafafa ;
}

.bpmplaybar{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

textarea:focus, input:focus{
  outline: none;
}

@media (min-width: 1900px){
  div.rackcabinet{
    margin-top: 80px !important;
    margin-bottom: 60px; 
  }

  .lightoff, .lighton {
    left: 18px;
    width: 14px;
    height: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  .lightoff, .lighton {
    width: 8px;
    height: 8px;
    left: 9px;
  }
}

@media only screen and (max-width: 960px) {
  .lightoff, .lighton {
    width: 10px;
    height: 10px;
    left: 10px;
  }
  div.rackcabinet{
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 860px) {
  .lightoff, .lighton {
    left: 5px;
  }
}

@media only screen and (max-width: 640px) {
  .lightoff, .lighton {
    left: 5px;
  }
}
