

.rackcabinet {
  width: 90%;
  background-color: grey;
  margin: 0 auto;
  margin-top:15px;
  padding:0 2px 0 2px;
  display:flex;
  justify-content:center;
  border-radius:10px;
}

.rack {
  display:flex;
  justify-content:center;
  width:96%;
  flex-wrap:wrap;
}

.drumrack {
  width: 100%;
  margin: 10px 6px;
  padding:4px 2px 4px 2px;
  border-radius: 9px;
  display: flex;
  position:relative;
  justify-content: center;
  flex-wrap:wrap;
  background-color: #fafafa ;
}

.bpmplaybar{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

textarea:focus, input:focus{
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none; /**<- Crashes Chrome on hover **/
  -webkit-appearance: none;
  margin: 0; /**<-- Apparently some margin are still there even though it's hidden **/
}

@media only screen and (max-width: 1024px) {
  .lightoff {
    width: 8px;
    height: 8px;
    left: 9px;
  }
  .lighton {
    width: 8px;
    height: 8px;
    left: 9px;
  }
}

@media only screen and (max-width: 960px) {
  .lightoff {
    width: 6px;
    height:6px;
    left: 8px;
  }
  .lighton {
    width: 6px;
    height: 6px;
    left: 8px;
  }
}

@media only screen and (max-width: 860px) {
  .lightoff {
    left: 5px;
  }
  .lighton {
    left: 5px;
  }
}

@media only screen and (max-width: 640px) {

  .lightoff {
    left: 2px;
  }
  .lighton {
    left: 2px;
  }
}
