html, 
body, #root {
  width:100%;
  background-color: #fafafa ;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  /* display:flex; */
  /* justify-content:center;  */
  transition: all 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
}

.rackcabinet {
  width: 90%;
  background-color: grey;
  margin: 0 auto;
  margin-top:15px;
  padding:0 2px 0 2px;
  display:flex;
  justify-content:center;
  /* flex-wrap:wrap; */
  border-radius:10px;
}

.rack {
  display:flex;
  justify-content:center;
  width:98%;
  flex-wrap:wrap;
  /* background-color:black; */
}

.drumrack {
  width: 100%;
  margin-right:6px;
  margin-left:6px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:4px 2px 4px 2px;
  border-radius: 9px;
  display: flex;
  position:relative;
  justify-content: center;
  /* flex-direction:row; */
  flex-wrap:wrap;
  background-color: #fafafa ;
}



.slash {
  font-size:34px;
  padding-left:10px;
  padding-right:10px;
  margin-top: 6px;
}

.playstopbutton {
  width: 9em;
  padding-left:4px;
  padding-right:4px;
  cursor: pointer;
  font-family: 'Orbitron';
  height: 55px;
  margin-top:3px;
  position:relative;
  border-radius: 5px;
  background-color:silver;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.9), inset 0 180px 0 rgba(255, 255, 255, 0.2), inset 0 190px 0 rgba(255, 255, 255, 0.3);
}

.bpmplaybar{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.tempolabel {
  font-family: 'Orbitron', sans-serif;
  height: 55px;
  font-size: 32px;
  background-color:black;
  padding-right:10px;
  border-radius: 5px;
  color: #DD1D00;
  margin-right: 7px;
  width: 3em;
  text-align:right;
  border: none;
  display:flex;
  justify-content:center;
  align-items:center;
  border-color: transparent;
}

.togglebox {
  margin:0 20px 0 20px ;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  height:55px;
  position:relative;
  width:100px;
}


textarea:focus, input:focus{
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none; /**<- Crashes Chrome on hover **/
  -webkit-appearance: none;
  margin: 0; /**<-- Apparently some margin are still there even though it's hidden **/
}

@media only screen and (max-width: 1024px) {
  .lightoff {
    width: 8px;
    height: 8px;
    left: 9px;
  }
  .lighton {
    width: 8px;
    height: 8px;
    left: 9px;
  }
}

@media only screen and (max-width: 960px) {
  .lightoff {
    width: 6px;
    height:6px;
    left: 8px;
  }
  .lighton {
    width: 6px;
    height: 6px;
    left: 8px;
  }
}

@media only screen and (max-width: 860px) {
  .lightoff {
    left: 5px;
  }
  .lighton {
    left: 5px;
  }
}

@media only screen and (max-width: 640px) {

  .lightoff {
    left: 2px;
  }
  .lighton {
    left: 2px;
  }
}
