a{
  font-size: 18px !important;
}

.HeaderFooter{
  background-color: #757575;
  padding: 0;
  border-top: 1px solid #212121 ;
  border-bottom: 1px solid #212121 ;
}

.ghLogo, .heartHeader {
  color: #f44336;
}

.navLogo {
  font-family: 'VT323', monospace;
}

.heartHeader {
  font-size: 50px;
}

.bleepHeader {
  font-size: 50px;
}

.side-nav{
  background-color: #424242 ;
  color: #f5f5f5 ;
}

.side-nav a {
  color: #eeeeee ;
}

a.brand-logo.right{
  margin-right: 20px;
}

.ghLogo:before {
  color: #f44336;
}