.SequenceCell{
  border: 1px solid #eee;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: #fff;
  padding: 0;
}

.StepButton{
  width: 5px;
  margin-bottom: 5px;
}