html, 
body, #root {
  width:100%;
  background-color: #fafafa ;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  /* display:flex; */
  /* justify-content:center;  */
  transition: all 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
}

