.transportLogo {
  height: 45px;
  margin-bottom: 2px;
}

.bpm-display{
  width: 150px;
}

.drumrackbar {
  width:90%;
  margin: 0 auto;
  padding-left: 20px;
  /* display:flex;
  justify-content: flex-start; */
}

.drumracklabel {
  height: 55px;
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'VT323', monospace;
  bottom:4px;
  font-size: 48px;
  color: black;
  /* padding-bottom: 10px; */
  position:relative;
}


input[type=range]::-webkit-slider-thumb {
  background-color: #f44336;
}
input[type=range]::-moz-range-thumb {
  background-color: #f44336;
}
input[type=range]::-ms-thumb {
  background-color: #f44336;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
  background-color: #dedede;
}
input[type=range] + .thumb.active .value {
  color: #f44336
}